<!DOCTYPE html>
<html>
<head>
    <% File.open("views/head.erb","r") do |content| %>
        <% content.each_line do |line| %>
            <%= line %>
        <% end %>
    <% end %>
</head>
<body class="w3-container w3-white">
    <% File.open("views/header.erb","r") do |content| %>
        <% content.each_line do |line| %>
            <%= line %>
        <% end %>
    <% end %>
    <div class="w3-display-container w3-display-topmiddle w3-light-gray" style="width:70%">
        <h1 class="w3-center">Tasks</h1>
        <div class="w3-container w3-orange w3-sand">
        <% File.open("views/calendar.erb","r") do |content| %>
            <% content.each_line do |line| %>
                <%= line %>
            <% end %>
        <% end %>
        </div>
        <br>
            <table class="w3-sand">
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Tasks</th>
                <th>Due-Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Delete Reason</th>
                <th>Delete</th>
            </tr>
            <% for i in params["cmd"] %>
                <form action="/delete" method="post">
                    <tr>
                        <td>
                            <input type="text" name="id" value="<%= i["id"] %>" readonly>
                        </td>
                        <td>
                            <%= i["timestamp"] %>
                        </td>
                        <td>
                            <%= i["comd"] %>
                        </td>
                        <td>
                            <%= i["duedate"] %>
                        </td>
                        <td>
                            <%= i["srttime"] %>
                        </td>
                        <td>
                            <%= i["endtime"] %>
                        </td>
                        <td>
                            <p>
                                <input type="checkbox" name="edit">&nbsp;<label for="edit">Edit</label><br>
                                <input type="checkbox" name="forget">&nbsp;<label for="forget">Forget</label><br>
                                <input type="checkbox" name="done">&nbsp;<label for="done">Done</label><br>
                            </p>
                        </td>
                        <td>
                            <button class="w3-button w3-red">delete</button>
                        </td>
                    </tr>
                </form>
            <% end %>
            </table>
        <br>
    </div>
</body>
</html>
